<app-menu sprzetColor='#e6f6fe'></app-menu>
<div class="content">
    <section class="search">
        <input (keyup)="searchSprzet($event)" type="text" id="sprzetInput" placeholder="Szukaj Sprzętu...">
        <input (click)="showAddSprzet()" type="button" value="Dodaj Sprzęt">
    </section>
    <section  [ngStyle]="{'max-height' : tableSize}" class="parentTable">
        <table id="sprzetTable">
            <tr>
                <th>Nazwa</th>
                <th>Dział</th>
                <th>Data Wprowadzenia</th>
                <th>Data Wycofania</th>
                <th class="icons">Zdjęcie</th>
                <th class="icons">Edytuj</th>
                <th class="icons">Dezaktywuj</th>
            </tr>
            <ng-container *ngFor="let item of sprzet; index as i">
                <tr *ngIf="item.display">
                    <td>{{item.nazwa}}</td>
                    <td>{{item.dzial}}</td>
                    <td>{{item.dataWpr | date: 'shortDate'}}</td>
                    <td>{{item.dataWyc | date: 'shortDate'}}</td>
                    <td class="icons" (click)="openPhoto(item.zdjecie)"><mat-icon fontSet="material-icons-outlined">image</mat-icon></td>
                    <td class="icons" (click)="showEditSprzet(item.id, item.zdjecie)"><mat-icon fontSet="material-icons-outlined">note_alt</mat-icon></td>
                    <td class="icons" (click)="deactivatePopUp(item.id)"><mat-icon fontSet="material-icons-outlined">delete</mat-icon></td>
                </tr>
            </ng-container>
        </table>
    </section>
</div>    
<div class="overlay" *ngIf="deactivate" @fadeInOut>
    <div class="popup">
        <h5>Czy na pewno chcesz deazaktywować wybrane dane?</h5>
        <input type="button" value="ANULUJ" (click)="hideDeactivate()">
        <input type="button" value="POTWIERDŹ" (click)="submitDeactivate()">
    </div>
</div>
<div class="overlay" *ngIf="deactivated" @fadeInOut>
    <div class="popup">
        <h5>{{deactivateInfo}}</h5>
        <input type="button" value="OK" (click)="hideDeactivate()">
    </div>
</div>
<div class="overlay first" *ngIf="photo" @fadeInOut>
    <div class="image">
        <mat-icon (click)="closePhoto()">close</mat-icon>
        <img [src]="photoSrc">
    </div>
</div>

<div class="overlay" *ngIf="addSprzet" @fadeInOut>
    <div class="popup children">
        <h5>Dodaj nowy Sprzęt</h5>
        <form [formGroup]="sprzetForm" (ngSubmit)="submitAddSprzet()">
            <div class="form-group">
                <label>Nazwa</label>
                <input class="form-control" type="text" formControlName="nazwa" required>
            </div>
            <div class="form-group">
                <label>Dział</label>
                <select   formControlName='dz' class="form-control"  required>
                    <option *ngFor="let item of dzialyDropdown; index as i" [value]=item.id>{{item.nazwa}}</option>
                </select>
            </div>
            
            <div class="form-group">
                <label>Data Wprowadzenia</label>
                <input class="form-control" type="date" formControlName="wpr" required>
            </div>

            <div class="form-group">
                <label>Data Wycofania</label>
                <input class="form-control" type="date" formControlName="wyc">
            </div>
            <div class="form-group">
                <label>Zdjęcie</label>
                <input class="form-control" type="file" formControlName="zdj" required  (change)="onFileChange($event)">
              </div>  
            <input type="button" value="ANULUJ" (click)="closeAddSprzet()" >
            <input type="submit" value="POTWIERDŹ" [disabled]="!sprzetForm.valid">
        </form>               
    </div>
</div>
<div class="overlay" *ngIf="editSprzet" @fadeInOut>
    <div class="popup children">
        <h5>Edytuj Sprzęt</h5>
        <form [formGroup]="sprzetForm" (ngSubmit)="submitEditSprzet()">
            <div class="form-group">
                <label>Nazwa</label>
                <input class="form-control" type="text" formControlName="nazwa" required>
            </div>
            <div class="form-group">
                <label>Dział</label>
                <select   formControlName='dz' class="form-control"  required>
                    <option *ngFor="let item of dzialyDropdown; index as i" [value]=item.id>{{item.nazwa}}</option>
                </select>
            </div>
            
            <div class="form-group">
                <label>Data Wprowadzenia</label>
                <input class="form-control" type="date" formControlName="wpr" required>
            </div>

            <div class="form-group">
                <label>Data Wycofania</label>
                <input class="form-control" type="date" formControlName="wyc">
            </div>
            <div class="form-group">
                <label>Zdjęcie</label>
                <div class="editPhoto">
                    <span class="editPhoto" (click)="openPhoto(editedPhoto)" fontSet="material-icons-outlined">
                        Zdjęcie
                        <mat-icon >image</mat-icon>                    
                    </span>
                    <input class="form-control editPhoto" type="file" formControlName="zdj" (change)="onFileChange($event)">
                </div>
              </div> 
            <input type="button" value="ANULUJ" (click)="closeEditSprzet()">
            <input type="submit" value="POTWIERDŹ" [disabled]="!sprzetForm.valid">
        </form>              
    </div>
</div>

