<section class="container">
    <section class="header">
      <img src="assets/images/logo.png">
    </section>
    <section class="content">
      <div>
        <span id="error">{{allError}}</span>
        <label>Login</label><span>{{loginError}}</span>
        <input [ngStyle]="{'border-color' : loginBorderColor}" [(ngModel)]="login" type="text">
        <label >Hasło</label><span>{{passwordError}}</span>
        <input [ngStyle]="{'border-color' : passwordBorderColor}" [(ngModel)]="password" type="password" >
        <input type="button" (click)="Login(login, password)" value="Zaloguj się">
      </div>
    </section>
  </section>
