$darkBlue: #0297D7;
.header {
    text-align: center;
    height: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

img {
    max-height: 70%;
    object-fit: contain;
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
}

div {
    border : 1px solid $darkBlue;
    border-radius: 5px;
    padding: 5% 0;
    max-width: 500px;
}

label, span {
    display: inline;
    width: 40%;
    margin: 0 10%;
    font-weight: 600;
}

input[type="button"]
{
    border-radius: 5px;
    background-color: white;
    margin: 20px 10%;
    font-weight: 500;
}

input{
    border: 1px solid $darkBlue;
    min-height: 30px;
    padding: 5px;
    margin: 5px 10% 15px 10%;
    width: 80%;
}

span{
    color: red;
    text-align: right;
    float: right;
}

#error{
    text-align: center;
    width: 80%;
}

@media(min-width:600px){
    h1{font-size: 3rem;}
}

@media(min-width:1000px){
    h1{font-size: 4rem;}
}