$darkBlue: #0297D7;
aside {
    width: 15%;
    height: 100vh;
    top: 0;
    left: 0;
    position: fixed;
    overflow: auto;
    padding: 20px 0;
    box-shadow: 6px 0px 6px -4px gray;
    display: flex;
    z-index: 1;
    background-color: white;
}

.sidebar{
    text-align: center;
    display: grid;
    grid-template-rows: repeat(3, auto);
}

.icon {
    width: 20%;
    display: none;
    text-align: center;
    padding-top: 20px;
}

section {
    width: 100%;
}

.logo img {
    max-width: 100%;;
    margin: 10px 0;
}



.user img {
    width: 60%;
    border-radius: 50%;
    margin-top: 10%;
}

ul {
    list-style-type: none;
    width: 100%;
    height: 100%;
    text-align: left;
    font-weight: 600;
    padding: 0;
    font-size: 1.2rem;
}

.mat-icon {
    margin: 2% 7%;
    font-size: 30px;
    width: 30px;
    height: 30px;
}

li {
    width: 100%;
    height: 20%;
    display: flex;
    align-items: center;
}

h4 {
    margin: 0;
}

h3 {
    margin-top: 5%;
}

h5 {
    margin-top: 0.5rem;
    color: $darkBlue;
}
hr {
    border-top : solid 1px $darkBlue;
    width: 100%;
}


input {
    width: 70%;
    padding: 4% 10%;
    margin: 10% 0 ;
    border: solid 1px $darkBlue;
    background-color: white;
    font-weight: 600;
    border-radius: 5px;
}

@media (max-width: 1320px){
    aside{width: 20%}
}

@media (max-width: 1000px){  
    ul {font-size: 1rem};
    .mat-icon{font-size: 20px; width: 20px; height: 20px};
    h3{font-size: 1.5rem}
    h4{font-size: 1.25rem}
    h5{font-size: 1rem;}
}

@media (max-width: 800px){
    .sidebar {
        align-content:start;
        grid-row-gap: 2%;
    }
    ul {font-size: 1rem}
    h3{font-size: 1.5rem}
    h4{font-size: 1.25rem}
    h5{font-size: 1rem}
    input{font-size: 1rem}
    .icon {display: inline;}
    aside { 
        width: 70%;
        left: -60%;
        overflow: hidden;
        transition: all .5s ease;
        padding: 0;
    }
    input { margin: 4%}
    aside:hover {
        overflow: auto;
        left:0;
        width: 70%;
        padding-right: 0;
        transition: all .5s ease;
        padding: 0;
        input{margin: 4%};
        .icon {background-color: #e6f6fe;}
    }
}