<aside>
    <section class="sidebar">
        <section class="logo">
            <img src="assets/images/logo.png">
        </section>
        <section class="menu">
            <ul>
                <li routerLink="/projekty" [ngStyle]="{'background-color' : projektyColor}"><mat-icon>code</mat-icon>Projekty</li>
                <li routerLink="/klienci" [ngStyle]="{'background-color' : klienciColor}"><mat-icon>person</mat-icon>Klienci i Umowy</li>
                <li routerLink="/pracownicy" [ngStyle]="{'background-color' : pracownicyColor}"><mat-icon fontSet="material-icons-outlined">contact_phone</mat-icon>Pracownicy</li>
                <li routerLink="/sprzet" [ngStyle]="{'background-color' : sprzetColor}"><mat-icon>computer</mat-icon>Sprzęt</li>
                <li routerLink="/dzialy" [ngStyle]="{'background-color' : dzialyColor}"><mat-icon>apps</mat-icon>Działy</li>
            </ul>
        
        </section>
    
       <section class="user">
            <hr>
            <img [src]="zdjecie">
            <h4>{{imie}}</h4>
            <h4>{{nazwisko}}</h4>
            <h5>{{dzial}}</h5>
            <input (click)="logout()" type="button" value="Wyloguj się">
        </section>
    </section>
    <section class="icon">
        <mat-icon>menu</mat-icon>
    </section>
</aside>

