<app-menu dzialyColor='#e6f6fe'></app-menu>
<div class="content">
    <section class="search">
        <input (keyup)="searchDzialy($event)" type="text" id="dzialyInput" placeholder="Szukaj Działu...">
        <input (click)="showAddDzialy()" type="button" value="Dodaj Dział">
    </section>
    <section  [ngStyle]="{'max-height' : tableSize}" class="parentTable">
        <table id="dzialyTable">
            <tr>
                <th>Nazwa</th>
                <th>Kierownik</th>
                <th class="icons">Edytuj</th>
                <th class="icons">Dezaktywuj</th>
            </tr>
            <ng-container *ngFor="let item of dzialy; index as i">
                <tr *ngIf="item.display">
                    <td>{{item.nazwa}}</td>
                    <td>{{item.kierownik}}</td>
                    <td class="icons" (click)="showEditDzialy(item.id)"><mat-icon fontSet="material-icons-outlined">note_alt</mat-icon></td>
                    <td class="icons" (click)="deactivatePopUp(item.id)"><mat-icon fontSet="material-icons-outlined">delete</mat-icon></td>
                </tr>
            </ng-container>
        </table>
    </section>
</div>    
<div class="overlay" *ngIf="deactivate" @fadeInOut>
    <div class="popup">
        <h5>Czy na pewno chcesz deazaktywować wybrane dane?</h5>
        <input type="button" value="ANULUJ" (click)="hideDeactivate()">
        <input type="button" value="POTWIERDŹ" (click)="submitDeactivate()">
    </div>
</div>
<div class="overlay" *ngIf="deactivated" @fadeInOut>
    <div class="popup">
        <h5>{{deactivateInfo}}</h5>
        <input type="button" value="OK" (click)="hideDeactivate()">
    </div>
</div>
<div class="overlay" *ngIf="addDzialy" @fadeInOut>
    <div class="popup children">
        <h5>Dodaj nowy Dział</h5>
        <form [formGroup]="dzialyForm" (ngSubmit)="submitAddDzialy()">
            <div class="form-group">
                <label>Nazwa</label>
                <input class="form-control" type="text" formControlName="nazwa" required>
            </div>
            <div class="form-group">
                <label>Kierownik</label>
                <select   formControlName='pr' class="form-control"  required>
                    <option *ngFor="let item of pracownicyDropdown; index as i" [value]=item.id>{{item.pracownik}}</option>
                </select>
            </div>
            <input type="button" value="ANULUJ" (click)="closeAddDzialy()">
            <input type="submit" value="POTWIERDŹ" [disabled]="!dzialyForm.valid">
        </form>               
    </div>
</div>
<div class="overlay" *ngIf="editDzialy" @fadeInOut>
    <div class="popup children">
        <h5>Edytuj Dział</h5>
        <form [formGroup]="dzialyForm" (ngSubmit)="submitEditDzialy()">
            <div class="form-group">
                <label>Nazwa</label>
                <input class="form-control" type="text" formControlName="nazwa" required>
            </div>
            <div class="form-group">
                <label>Kierownik</label>
                <select   formControlName='pr' class="form-control"  required>
                    <option *ngFor="let item of pracownicyDropdown; index as i" [value]=item.id>{{item.pracownik}}</option>
                </select>
            </div>
            
            <input type="button" value="ANULUJ" (click)="closeEditDzialy()">
            <input type="submit" value="POTWIERDŹ" [disabled]="!dzialyForm.valid">
        </form>              
    </div>
</div>


