<app-menu pracownicyColor='#e6f6fe'></app-menu>
<div class="content">
    <section class="search">
        <input (keyup)="searchPracownicy($event)" type="text" id="pracownicyInput" placeholder="Szukaj Pracownika...">
        <input (click)="showAddPracownicy()" type="button" value="Dodaj Pracownika">
    </section>
    <section  [ngStyle]="{'max-height' : tableSize}" class="parentTable">
        <table id="pracownicyTable">
            <tr>
                <th>Imię</th>
                <th>Nazwisko</th>
                <th>Dział</th>
                <th>Telefon</th>
                <th>Data Zatrudnienia</th>
                <th>Data Zwolnienia</th>
                <th>Data Urodzenia</th>
                <th>Adres</th>
                <th>Pesel</th>
                <th class="icons">Zdjęcie</th>
                <th class="icons">Edytuj</th>
                <th class="icons">Dezaktywuj</th>
            </tr>
            <ng-container *ngFor="let item of pracownicy; index as i">
                <tr *ngIf="item.display">
                    <td>{{item.imie}}</td>
                    <td>{{item.nazwisko}}</td>
                    <td>{{item.dzial}}</td>
                    <td>{{item.telefon}}</td>
                    <td>{{item.dataZatr | date: 'shortDate'}}</td>
                    <td>{{item.dataZwol | date: 'shortDate'}}</td>
                    <td>{{item.dataUr | date: 'shortDate'}}</td>
                    <td>{{item.adres}}</td>
                    <td>{{item.pesel}}</td>
                    <td class="icons" (click)="openPhoto(item.zdjecie)"><mat-icon fontSet="material-icons-outlined">image</mat-icon></td>
                    <td class="icons" (click)="showEditPracownicy(item.id, item.zdjecie)"><mat-icon fontSet="material-icons-outlined">note_alt</mat-icon></td>
                    <td class="icons" (click)="deactivatePopUp(item.id)"><mat-icon fontSet="material-icons-outlined">delete</mat-icon></td>
                </tr>
            </ng-container>
        </table>
    </section>
</div>    
<div class="overlay" *ngIf="deactivate" @fadeInOut>
    <div class="popup">
        <h5>Czy na pewno chcesz deazaktywować wybrane dane?</h5>
        <input type="button" value="ANULUJ" (click)="hideDeactivate()">
        <input type="button" value="POTWIERDŹ" (click)="submitDeactivate()">
    </div>
</div>
<div class="overlay" *ngIf="deactivated" @fadeInOut>
    <div class="popup">
        <h5>{{deactivateInfo}}</h5>
        <input type="button" value="OK" (click)="hideDeactivate()">
    </div>
</div>
<div class="overlay first" *ngIf="photo" @fadeInOut>
    <div class="image">
        <mat-icon (click)="closePhoto()">close</mat-icon>
        <img [src]="photoSrc">
    </div>
</div>

<div class="overlay" *ngIf="addPracownicy" @fadeInOut>
    <div class="popup children">
        <h5>Dodaj nowego Pracownika</h5>
        <form [formGroup]="pracownicyForm" (ngSubmit)="submitAddPracownicy()">
            <div class="form-group">
                <label>Imię</label>
                <input class="form-control" type="text" formControlName="imie" required>
            </div>
            <div class="form-group">
                <label>Nazwisko</label>
                <input class="form-control" type="text" formControlName="nazw" required>
            </div>
            <div class="form-group">
                <label>Dział</label>
                <select   formControlName='dz' class="form-control"  required>
                    <option *ngFor="let item of dzialyDropdown; index as i" [value]=item.id>{{item.nazwa}}</option>
                </select>
            </div>
            <div class="form-group">
                <label>Telefon</label>
                <input class="form-control" type="text" formControlName="tel" required>
            </div>
            
            <div class="form-group">
                <label>Data Zatrudnienia</label>
                <input class="form-control" type="date" formControlName="zatr" required>
            </div>

            <div class="form-group">
                <label>Data Zwolnienia</label>
                <input class="form-control" type="date" formControlName="zwol">
            </div>
            <div class="form-group">
                <label>Data Urodzenia</label>
                <input class="form-control" type="date" formControlName="ur" required>
            </div>
            <div class="form-group">
                <label>Adres</label>
                <input class="form-control" type="text" formControlName="adres" required>
            </div>
            <div class="form-group">
                <label>Pesel</label>
                <input class="form-control" type="text" formControlName="pesel" required>
            </div>
            <div class="form-group">
                <label>Zdjęcie</label>
                <input class="form-control" type="file" formControlName="zdj" required  (change)="onFileChange($event)">
              </div>  
            <input type="button" value="ANULUJ" (click)="closeAddPracownicy()">
            <input type="submit" value="POTWIERDŹ" [disabled]="!pracownicyForm.valid">
        </form>               
    </div>
</div>
<div class="overlay" *ngIf="editPracownicy" @fadeInOut>
    <div class="popup children">
        <h5>Edytuj Pracownika</h5>
        <form [formGroup]="pracownicyForm" (ngSubmit)="submitEditPracownicy()">
            <div class="form-group">
                <label>Imię</label>
                <input class="form-control" type="text" formControlName="imie" required>
            </div>
            <div class="form-group">
                <label>Nazwisko</label>
                <input class="form-control" type="text" formControlName="nazw" required>
            </div>
            <div class="form-group">
                <label>Dział</label>
                <select   formControlName='dz' class="form-control"  required>
                    <option *ngFor="let item of dzialyDropdown; index as i" [value]=item.id>{{item.nazwa}}</option>
                </select>
            </div>
            <div class="form-group">
                <label>Telefon</label>
                <input class="form-control" type="text" formControlName="tel" required>
            </div>
            
            <div class="form-group">
                <label>Data Zatrudnienia</label>
                <input class="form-control" type="date" formControlName="zatr" required>
            </div>

            <div class="form-group">
                <label>Data Zwolnienia</label>
                <input class="form-control" type="date" formControlName="zwol">
            </div>
            <div class="form-group">
                <label>Data Urodzenia</label>
                <input class="form-control" type="date" formControlName="ur" required>
            </div>
            <div class="form-group">
                <label>Adres</label>
                <input class="form-control" type="text" formControlName="adres" required>
            </div>
            <div class="form-group">
                <label>Pesel</label>
                <input class="form-control" type="text" formControlName="pesel" required>
            </div>
            <div class="form-group">
                <label>Zdjęcie</label>
                <div class="editPhoto">
                    <span class="editPhoto" (click)="openPhoto(editedPhoto)" fontSet="material-icons-outlined">
                        Zdjęcie
                        <mat-icon >image</mat-icon>                    
                    </span>
                    <input class="form-control editPhoto" type="file" formControlName="zdj" (change)="onFileChange($event)">
                </div>
              </div> 
            <input type="button" value="ANULUJ" (click)="closeEditPracownicy()">
            <input type="submit" value="POTWIERDŹ" [disabled]="!pracownicyForm.valid">
        </form>              
    </div>
</div>
