<app-menu projektyColor='#e6f6fe'></app-menu>
<div class="content">
    <section class="search">
        <input (keyup)="searchProjekty($event)" type="text" id="projektyInput" placeholder="Szukaj Projektu...">
        <input (click)="showAddProjekty()" type="button" value="Dodaj Projekt">
    </section>
    <section  [ngStyle]="{'max-height' : tableSize}" class="parentTable">
        <table id="projektyTable">
            <tr>
                <th>Nazwa</th>
                <th>Kierownik Projektu</th>
                <th>Deadline</th>
                <th>Cena</th>
                <th>Data Rozpoczęcia</th>
                <th>Data Zakończenia</th>
                <th class="icons">Wybierz</th>
                <th class="icons">Edytuj</th>
                <th class="icons">Dezaktywuj</th>
            </tr>
            <ng-container  *ngFor="let item of projekty; index as i">
                <tr *ngIf="item.display" [ngClass]="{'selected': item.id === selectedProjekty}">
                    <td>{{item.nazwa}}</td>
                    <td>{{item.kierownik}}</td>
                    <td>{{item.deadline | date: 'shortDate'}}</td>
                    <td>{{item.cena | currency}}</td>
                    <td>{{item.dataRozp | date:'shortDate'}}</td>
                    <td>{{item.dataZak | date:'shortDate'}}</td>
                    <td class="icons" (click)="selectProjekty(item.id, item.nazwa)"><mat-icon fontSet="material-icons-outlined">check_box</mat-icon></td>
                    <td class="icons" (click)="showEditProjekty(item.id)"><mat-icon fontSet="material-icons-outlined">note_alt</mat-icon></td>
                    <td class="icons" (click)="deactivatePopUp(item.id, 'projekty')"><mat-icon fontSet="material-icons-outlined">delete</mat-icon></td>
                </tr>
            </ng-container>
        </table>
    </section>
    <section *ngIf="isHidden"  class="accordions">
        <div class="accordion" id="accordionOne">
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingOne">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                    Pracownicy w Projekcie {{selectedProjektyName}}
                </button>
              </h2>
              <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionOne">
                <div class="accordion-body">
                    <section class="search">
                        <input id="pracownicyProjektyInput" (keyup)="searchPracownicyProjekty($event)" type="text" placeholder="Szukaj Pracownika...">
                        <input (click)="showPracownicyProjekty()" type="button" value="Dodaj Pracownika">
                    </section>
                    <section class="parentTable">
                        <table id="pracownicyProjektyTable">
                            <tr>
                                <th>Imie</th>
                                <th>Nazwisko</th>
                                <th>Dział</th>
                                <th>Telefon</th>
                                <th class="icons">Zdjęcie</th>
                                <th class="icons">Dezaktywuj</th>
                            </tr>
                            <ng-container *ngFor="let item of pracownicyProjekty; index as i">
                                <tr *ngIf="item.display">
                                    <td>{{item.imie}}</td>
                                    <td>{{item.nazwisko}}</td>
                                    <td>{{item.dzial}}</td>
                                    <td>{{item.telefon}}</td>
                                    <td class="icons" (click)="openPhoto(item.zdjecie)"><mat-icon fontSet="material-icons-outlined">image</mat-icon></td>
                                    <td class="icons" (click)="deactivatePopUp(item.id, 'pracownicyProjekty')"><mat-icon fontSet="material-icons-outlined">delete</mat-icon></td>
                                </tr>
                            </ng-container>
                        </table>
                    </section>
                </div>
              </div>
            </div>
        </div>
        
        <div class="accordion" id="accordionTwo">
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingTwo">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        Sprzęt wykorzystywany w Projekcie {{selectedProjektyName}}
                    </button>
                </h2>
                <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionTwo">
                    <div class="accordion-body">
                        <section class="search">
                            <input (keyup)="searchWykSprzet($event)" id="wykSprzetInput" type="text" placeholder="Szukaj Sprzętu...">
                            <input (click)="showWykSprzet()" type="button" value="Dodaj Sprzęt">
                        </section>
                        <section class="parentTable">
                            <table id="wykSprzetTable">
                                <tr>
                                    <th>Sprzęt</th>
                                    <th>Dział</th>
                                    <th>Data Rozpoczęcia</th>
                                    <th>Data Zakończenia</th>
                                    <th class="icons">Zdjęcie</th>
                                    <th class="icons">Edytuj</th>
                                    <th class="icons">Dezaktywuj</th>
                                </tr>
                                <ng-container *ngFor="let item of wykSprzet; index as i">
                                    <tr *ngIf="item.display">
                                        <td>{{item.sprzet}}</td>
                                        <td>{{item.dzial}}</td>
                                        <td>{{item.dataRozp | date:'shortDate'}}</td>
                                        <td>{{item.dataZak | date:'shortDate'}}</td>
                                        <td class="icons" (click)="openPhoto(item.zdjecie)"><mat-icon fontSet="material-icons-outlined">image</mat-icon></td>
                                        <td class="icons" (click)="showEditWykSprzet(item.id)"><mat-icon fontSet="material-icons-outlined">note_alt</mat-icon></td>
                                        <td class="icons" (click)="deactivatePopUp(item.id, 'wykSprzet')"><mat-icon fontSet="material-icons-outlined">delete</mat-icon></td>
                                    </tr>
                                </ng-container>
                            </table>
                        </section>
                    </div>
                </div>
            </div>
        </div>
        <div class="accordion" id="accordionThree">
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingThree">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                    Umowy Projektu {{selectedProjektyName}}
                </button>
              </h2>
              <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionThree">
                <div class="accordion-body">
                    <section class="search">
                        <input id="umowyProjektyInput" (keyup)="searchUmowyProjekty($event)" type="text" placeholder="Szukaj Umowy...">
                        <input (click)="showUmowyProjekty()" type="button" value="Dodaj Umowę">
                    </section>
                    <section class="parentTable">
                        <table id="umowyProjektyTable">
                            <tr>
                                <th>Klient</th>                    
                                <th>Data Zawarcia</th>
                                <th>Data Zakończenia</th>
                                <th>Cena</th>
                                <th class="icons">Zdjęcie</th>
                                <th class="icons">Dezaktywuj</th>
                            </tr>
                            <ng-container *ngFor="let item of umowyProjekty; index as i">
                                <tr *ngIf="item.display">
                                    <td>{{item.firma}}</td>
                                    <td>{{item.dataZaw | date: 'shortDate'}}</td>
                                    <td>{{item.dataZak | date: 'shortDate'}}</td>
                                    <td>{{item.cena | currency}}</td>
                                    <td class="icons" (click)="openPhoto(item.zdjecie)"><mat-icon fontSet="material-icons-outlined">image</mat-icon></td>
                                    <td class="icons" (click)="deactivatePopUp(item.id, 'umowyProjekty')"><mat-icon fontSet="material-icons-outlined">delete</mat-icon></td>
                                </tr>
                            </ng-container>
                        </table>
                    </section>
                </div>
              </div>
            </div>
        </div>

    </section>
</div>

<div class="overlay" *ngIf="deactivate" @fadeInOut>
    <div class="popup">
        <h5>Czy na pewno chcesz deazaktywować wybrane dane?</h5>
        <input type="button" value="ANULUJ" (click)="hideDeactivate()">
        <input type="button" value="POTWIERDŹ" (click)="submitDeactivate()">
    </div>
</div>
<div class="overlay" *ngIf="deactivated" @fadeInOut>
    <div class="popup">
        <h5>{{deactivateInfo}}</h5>
        <input type="button" value="OK" (click)="hideDeactivate()">
    </div>
</div>
<div class="overlay" *ngIf="photo" @fadeInOut>
    <div class="image">
        <mat-icon (click)="closePhoto()">close</mat-icon>
        <img [src]="photoSrc">
    </div>
</div>
<div class="overlay" *ngIf="addUmowyProjekty" @fadeInOut>
    <div class="popup umowyprojekty">
        <h5>Dodaj Umowę do Projektu {{selectedProjektyName}}</h5>
        <select  [(ngModel)]="selectedUmowy" required>
            <option *ngFor="let item of umowyDropdown; index as i" [value]=item.id>{{item.umowa}}</option>
        </select>
        <input type="button" value="ANULUJ" (click)="closeUmowyProjekty()">
        <input type="button" value="POTWIERDŹ" (click)="submitUmowyProjekty()">
    </div>
</div>
<div class="overlay" *ngIf="addPracownicyProjekty" @fadeInOut>
    <div class="popup children">
        <h5>Dodaj Pracownika do Projektu {{selectedProjektyName}}</h5>
        <select  [(ngModel)]="selectedPracownicy" required>
            <option *ngFor="let item of pracownicyDropdown; index as i" [value]=item.id>{{item.pracownik}}</option>
        </select>
        <input type="button" value="ANULUJ" (click)="closePracownicyProjekty()">
        <input type="button" value="POTWIERDŹ" (click)="submitPracownicyProjekty()">
    </div>
</div>

<div class="overlay" *ngIf="addWykSprzet" @fadeInOut>
    <div class="popup children">
        <h5>Dodaj Sprzęt do Projektu {{selectedProjektyName}}</h5>
        <form [formGroup]="wykSprzetForm" (ngSubmit)="submitWykSprzet()">
                  <div class="form-group">
                    <label>Sprzet</label>
                    <select  formControlName='sp' class="form-control"  required>
                        <option *ngFor="let item of sprzetDropdown; index as i" [value]=item.id>{{item.nazwa}}</option>
                    </select>
                  </div>
                  <div class="form-group">
                    <label>Dział</label>
                    <select formControlName='dz' class="form-control"  required>
                        <option *ngFor="let item of dzialyDropdown; index as i" [value]=item.id>{{item.nazwa}}</option>
                    </select>
                  </div>
          
                  <div class="form-group">
                    <label>Data Rozpoczęcia</label>
                    <input class="form-control" type="date" formControlName="rozp" required>
                  </div>

                  <div class="form-group">
                    <label>Data Zakończenia</label>
                    <input class="form-control" type="date" formControlName="zak" required>
                  </div>
          
                  <input type="button" value="ANULUJ" (click)="closeWykSprzet()">
                  <input type="submit" value="POTWIERDŹ" [disabled]="!wykSprzetForm.valid">
            </form>        
        
    </div>
</div>

<div class="overlay" *ngIf="editWykSprzet" @fadeInOut>
    <div class="popup children">
        <h5>Edytuj Sprzęt w Projekcie {{selectedProjektyName}}</h5>
        <form [formGroup]="wykSprzetForm" (ngSubmit)="submitEditWykSprzet()">
                  <div class="form-group">
                    <label>Sprzet</label>
                    <select  formControlName='sp' class="form-control"  required>
                        <option *ngFor="let item of sprzetDropdown; index as i" [value]=item.id>{{item.nazwa}}</option>
                    </select>
                  </div>
                  <div class="form-group">
                    <label>Dział</label>
                    <select   formControlName='dz' class="form-control"  required>
                        <option *ngFor="let item of dzialyDropdown; index as i" [value]=item.id>{{item.nazwa}}</option>
                    </select>
                  </div>
          
                  <div class="form-group">
                    <label>Data Rozpoczęcia</label>
                    <input class="form-control" type="date" formControlName="rozp"  required>
                  </div>

                  <div class="form-group">
                    <label>Data Zakończenia</label>
                    <input class="form-control" type="date" formControlName="zak" required>
                  </div>
          
                  <input type="button" value="ANULUJ" (click)="closeEditWykSprzet()">
                  <input type="submit" value="POTWIERDŹ" [disabled]="!wykSprzetForm.valid">
            </form>        
        
    </div>
</div>

<div class="overlay" *ngIf="addProjekty" @fadeInOut>
    <div class="popup children">
        <h5>Dodaj nowy Projekt</h5>
        <form [formGroup]="projektyForm" (ngSubmit)="submitAddProjekty()">
                  <div class="form-group">
                    <label>Nazwa</label>
                    <input class="form-control" type="text" formControlName="nazwa" required>
                  </div>
                  <div class="form-group">
                    <label>Deadline</label>
                    <input class="form-control" type="date" formControlName="deadline" required>
                  </div>
                  <div class="form-group">
                    <label>Data Rozpoczęcia</label>
                    <input class="form-control" type="date" formControlName="rozp" required>
                  </div>

                  <div class="form-group">
                    <label>Data Zakończenia</label>
                    <input class="form-control" type="date" formControlName="zak" required>
                  </div>
                  <div class="form-group">
                    <label>Cena</label>
                    <input class="form-control" type="text" formControlName="cena" required>
                  </div>
                  <div class="form-group">
                    <label>Kierownik</label>
                    <select  formControlName='pr' class="form-control"  required>
                        <option *ngFor="let item of pracownicyDropdown; index as i" [value]=item.id>{{item.pracownik}}</option>
                    </select>
                  </div>
                  <input type="button" value="ANULUJ" (click)="closeAddProjekty()">
                  <input type="submit" value="POTWIERDŹ" [disabled]="!projektyForm.valid">
            </form>        
        
    </div>
</div>
<div class="overlay" *ngIf="EditProjekty" @fadeInOut>
    <div class="popup children">
        <h5>Edytuj Projekt</h5>
        <form [formGroup]="projektyForm" (ngSubmit)="submitEditProjekty()">
                  <div class="form-group">
                    <label>Nazwa</label>
                    <input class="form-control" type="text" formControlName="nazwa" required>
                  </div>
                  <div class="form-group">
                    <label>Deadline</label>
                    <input class="form-control" type="date" formControlName="deadline" required>
                  </div>
                  <div class="form-group">
                    <label>Data Rozpoczęcia</label>
                    <input class="form-control" type="date" formControlName="rozp" required>
                  </div>

                  <div class="form-group">
                    <label>Data Zakończenia</label>
                    <input class="form-control" type="date" formControlName="zak" required>
                  </div>
                  <div class="form-group">
                    <label>Cena</label>
                    <input class="form-control" type="text" formControlName="cena" required>
                  </div>
                  <div class="form-group">
                    <label>Kierownik</label>
                    <select  formControlName='pr' class="form-control"  required>
                        <option *ngFor="let item of pracownicyDropdown; index as i" [value]=item.id>{{item.pracownik}}</option>
                    </select>
                  </div>
                  <input type="button" value="ANULUJ" (click)="closeEditProjekty()">
                  <input type="submit" value="POTWIERDŹ" [disabled]="!projektyForm.valid">
            </form>        
        
    </div>
</div>

