$darkBlue: #0297D7;
/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';

.ng-touched.ng-valid[required], .ng-touched.ng-valid.required  {
    border-left: 5px solid #42A948; /* green */
  }
  
  .ng-touched.ng-invalid:not(form)  {
    border-left: 5px solid #a94442; /* red */
  }