<app-menu klienciColor='#e6f6fe'></app-menu>
<div class="content">
    <section class="search">
        <input (keyup)="searchKlienci($event)" type="text" id="klienciInput" placeholder="Szukaj Klienta...">
        <input (click)="showAddKlienci()" type="button" value="Dodaj Klienta">
    </section>
    <section  [ngStyle]="{'max-height' : tableSize}" class="parentTable">
        <table id="klienciTable">
            <tr>
                <th>Firma</th>
                <th>NIP</th>
                <th>Adres</th>
                <th>Telefon</th>
                <th class="icons">Wybierz</th>
                <th class="icons">Edytuj</th>
                <th class="icons">Dezaktywuj</th>
            </tr>
            <ng-container *ngFor="let item of klienci; index as i">
                <tr *ngIf="item.display"  [ngClass]="{'selected': item.id === selectedKlienci}">
                    <td>{{item.firma}}</td>
                    <td>{{item.nip}}</td>
                    <td>{{item.adres}}</td>
                    <td>{{item.telefon}}</td>
                    <td class="icons" (click)="selectKlienci(item.id, item.firma)"><mat-icon fontSet="material-icons-outlined">check_box</mat-icon></td>
                    <td class="icons" (click)="showEditKlienci(item.id)"><mat-icon fontSet="material-icons-outlined">note_alt</mat-icon></td>
                    <td class="icons" (click)="deactivatePopUp(item.id, 'klienci')"><mat-icon fontSet="material-icons-outlined">delete</mat-icon></td>
                </tr>
            </ng-container>
        </table>
    </section>
    <section *ngIf="isHidden"  class="accordions">
        <div class="accordion" id="accordionOne">
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingOne">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                    Umowy z Klientem {{selectedKlienciName}}
                </button>
              </h2>
              <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionOne">
                <div class="accordion-body">
                    <section class="search">
                        <input id="umowyInput" (keyup)="searchUmowy($event)" type="text" placeholder="Szukaj Umowy...">
                        <input (click)="showUmowy()" type="button" value="Dodaj Umowę">
                    </section>
                    <section class="parentTable">
                        <table id="umowyTable">
                            <tr>
                                <th>Data Zawarcia</th>
                                <th>Data Zakończenia</th>
                                <th>Cena</th>
                                <th class="icons">Zdjęcie</th>
                                <th class="icons">Edytuj</th>
                                <th class="icons">Dezaktywuj</th>
                            </tr>
                            <ng-container *ngFor="let item of umowy; index as i">
                                <tr *ngIf="item.display">
                                    <td>{{item.dataZaw | date: 'shortDate'}}</td>
                                    <td>{{item.dataZak | date: 'shortDate'}}</td>
                                    <td>{{item.cena | currency}}</td>
                                    <td class="icons" (click)="openPhoto(item.zdjecie)"><mat-icon fontSet="material-icons-outlined">image</mat-icon></td>
                                    <td class="icons" (click)="showEditUmowy(item.id, item.zdjecie)"><mat-icon fontSet="material-icons-outlined">note_alt</mat-icon></td>
                                    <td class="icons" (click)="deactivatePopUp(item.id, 'umowy')"><mat-icon fontSet="material-icons-outlined">delete</mat-icon></td>
                                </tr>
                            </ng-container>
                        </table>
                    </section>
                </div>
              </div>
            </div>
        </div>
    </section>
</div>

<div class="overlay" *ngIf="deactivate" @fadeInOut>
    <div class="popup">
        <h5>Czy na pewno chcesz deazaktywować wybrane dane?</h5>
        <input type="button" value="ANULUJ" (click)="hideDeactivate()">
        <input type="button" value="POTWIERDŹ" (click)="submitDeactivate()">
    </div>
</div>
<div class="overlay" *ngIf="deactivated" @fadeInOut>
    <div class="popup">
        <h5>{{deactivateInfo}}</h5>
        <input type="button" value="OK" (click)="hideDeactivate()">
    </div>
</div>
<div class="overlay first" *ngIf="photo" @fadeInOut>
    <div class="image">
        <mat-icon (click)="closePhoto()">close</mat-icon>
        <img [src]="photoSrc">
    </div>
</div>

<div class="overlay" *ngIf="addUmowy" @fadeInOut>
    <div class="popup children">
        <h5>Dodaj Umowę z klientem {{selectedKlienciName}}</h5>
        <form [formGroup]="umowyForm" (ngSubmit)="submitUmowy()">
                <div class="form-group">
                    <label>Data Zawarcia</label>
                    <input class="form-control" type="date" formControlName="zaw" required>
                </div>

                  <div class="form-group">
                    <label>Data Zakończenia</label>
                    <input class="form-control" type="date" formControlName="zak" required>
                  </div>

                  <div class="form-group">
                    <label>Cena</label>
                    <input class="form-control" type="text" formControlName="cena" required>
                  </div>
                  
                  <div class="form-group">
                    <label>Zdjęcie</label>
                    <input class="form-control" type="file" formControlName="zdj" required  (change)="onFileChange($event)">
                  </div>
          
                  <input type="button" value="ANULUJ" (click)="closeUmowy()">
                  <input type="submit" value="POTWIERDŹ" [disabled]="!umowyForm.valid">
            </form>        
        
    </div>
</div>

<div class="overlay" *ngIf="editUmowy" @fadeInOut>
    <div class="popup children">
        <h5>Edytuj Umowę z klientem {{selectedUmowyName}}</h5>
        <form [formGroup]="umowyForm" (ngSubmit)="submitEditUmowy()">
                  <div class="form-group">
                    <label>Klient</label>
                    <select  formControlName='kl' class="form-control"  required>
                        <option *ngFor="let item of klienciDropdown; index as i" [value]=item.id>{{item.klient}}</option>
                    </select>
                  </div>
          
                  <div class="form-group">
                    <label>Data Zawarcia</label>
                    <input class="form-control" type="date" formControlName="zaw"  required>
                  </div>

                  <div class="form-group">
                    <label>Data Zakończenia</label>
                    <input class="form-control" type="date" formControlName="zak" required>
                  </div>

                  <div class="form-group">
                    <label>Cena</label>
                    <input class="form-control" type="text" formControlName="cena" required>
                  </div>
                  
                  <div class="form-group">
                    <label>Zdjęcie</label>
                    <div class="editPhoto">
                        <span class="editPhoto" (click)="openPhoto(editedPhoto)" fontSet="material-icons-outlined">
                            Zdjęcie
                            <mat-icon >image</mat-icon>                    
                        </span>
                        <input class="form-control editPhoto" type="file" formControlName="zdj" (change)="onFileChange($event)">
                    </div>
                  </div>
          
                  <input type="button" value="ANULUJ" (click)="closeEditUmowy()">
                  <input type="submit" value="POTWIERDŹ" [disabled]="!umowyForm.valid">
            </form>        
        
    </div>
</div>

<div class="overlay" *ngIf="addKlienci" @fadeInOut>
    <div class="popup children">
        <h5>Dodaj nowego Klienta</h5>
        <form [formGroup]="klienciForm" (ngSubmit)="submitAddKlienci()">
                  <div class="form-group">
                    <label>Firma</label>
                    <input class="form-control" type="text" formControlName="firma" required>
                  </div>
                  <div class="form-group">
                    <label>NIP</label>
                    <input class="form-control" type="text" formControlName="nip" required>
                  </div>
                  <div class="form-group">
                    <label>Adres</label>
                    <input class="form-control" type="text" formControlName="adres" required>
                  </div>
                  <div class="form-group">
                    <label>Telefon</label>
                    <input class="form-control" type="text" formControlName="tel" required>
                  </div>
                  <input type="button" value="ANULUJ" (click)="closeAddKlienci()">
                  <input type="submit" value="POTWIERDŹ" [disabled]="!klienciForm.valid">
            </form>        
        
    </div>
</div>
<div class="overlay" *ngIf="EditKlienci" @fadeInOut>
    <div class="popup children">
        <h5>Edytuj Klienta</h5>
        <form [formGroup]="klienciForm" (ngSubmit)="submitEditKlienci()">
            <div class="form-group">
                <label>Firma</label>
                <input class="form-control" type="text" formControlName="firma" required>
            </div>
            <div class="form-group">
                <label>NIP</label>
                <input class="form-control" type="text" formControlName="nip" required>
            </div>
            <div class="form-group">
                <label>Adres</label>
                <input class="form-control" type="text" formControlName="adres" required>
            </div>
            <div class="form-group">
                <label>Telefon</label>
                <input class="form-control" type="text" formControlName="tel" required>
            </div>
            <input type="button" value="ANULUJ" (click)="closeEditKlienci()">
            <input type="submit" value="POTWIERDŹ" [disabled]="!klienciForm.valid">
        </form>              
    </div>
</div>