$darkBlue: #0297D7;

.content{
    background-color: #e6f6fe;
    width: 85%;
    position: fixed;
    left: 15%;
    overflow-x: auto;
    height: 100vh;
    padding: 2%;
}
table{
    border: 1px solid black;
    background-color: white;
    width: 100%;
    text-align: center;
    
}
table td, th{
    border: 1px solid black;
    padding: 5px;
}

table th{
    background-color: $darkBlue;
    color: white;
}

table tr:nth-child(odd){
    background-color: #dceaf1;
}

input {
    width: 20%;
    padding: 10px;
    margin: 1%;
    border: solid 1px $darkBlue;
    background-color: white;
    font-weight: 600;
    border-radius: 5px;
}
input[type="button"]{
    width: 15%;
}
.search{
    text-align: right;
}
.parentTable{
    margin-bottom: 2%;
    max-height: 30vh;
    width: 100%;
    overflow: auto;
}
.icons{
    width: 7%;
}

.accordion-button {
    background-color: lightgray;
    font-size: 1.25rem;
}

.accordion-body {
    background-color: whitesmoke;
    max-height: 400px;
}

.accordion-button:not(.collapsed){
    background-color: $darkBlue;
    color: white;
}

.selected{
    background-color: lightgray !important;
}

.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    opacity: 1;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
}

.first {
    z-index: 3;
}

.popup{
    text-align: center;
    background-color: white;
    border-radius: 10px;
    width: 30%;
    padding: 2%;
    max-height: 90vh;
    overflow-x: auto;
}

.popup input{
    width: 40%;
}

.popup.children input{
    border-radius: 0;
    width: 100%;
}

.popup.children input[type="button"], .popup.children input[type="submit"]{
    border-radius: 10px;
    width: 45%;
}

div.editPhoto{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

span.editPhoto, input.editPhoto{
    width: 50% !important;
}

select{
    margin:1%;
    border: 1px solid $darkBlue;
    padding: 2% 20px 2% 2%;
    background-color: white;
    border-radius: 0;
    background: url(https://cdn4.iconfinder.com/data/icons/ionicons/512/icon-arrow-down-b-512.png) no-repeat right;
    background-size: 20px 20px;
}

.image{
    background-color: white;
    border-radius: 10px;
    width: 80%;
    height: 90%;
    padding: 4%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.image img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

.image mat-icon {
    display: block;
    margin : 1%;
    width: 100%;

}

@media (max-width: 1320px){
    .content{
        left: 20%;
        width: 80%;
    }
    input{ width: 30%}
    input[type="button"]{width: 25%;}
    .popup input{
        width: 45%;
        font-size: 0.8rem;
    }
    .popup.children{
        width: 50%;
    }
}

@media (max-width: 800px){
    .content{
        left: 10%;
        width: 90%;
    }
    input {width: 40%; }
    input[type="button"]{
        width: 35%;
    }
    
    .popup {
        width: 60%;
        padding: 2% 1%
    }
    
}

@media (max-width: 600px){
    input {width: 55%; font-size: 0.8rem}
    input[type="button"]{
        width: 40%;
    }
    .popup {
        width: 90%;
        padding: 5% 0
    }
    .popup.children {
        width: 90%;
    }
}